USE [master]
GO
/****** Object:  Database [PE05 ]    Script Date: 4/11/2021 7:59:49 PM ******/
CREATE DATABASE [PE05 ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PE05', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PE05 .mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PE05 _log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PE05 _log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PE05 ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PE05 ]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 4/11/2021 7:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Albums](
	[AlbumID] [int] NOT NULL,
	[AlbumName] [varchar](50) NULL,
	[ReleaseYear] [int] NULL,
	[Quantity] [int] NULL,
	[Status] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Albums] ([AlbumID], [AlbumName], [ReleaseYear], [Quantity], [Status]) VALUES (1, N'asd', 2020, 3, 1)
INSERT [dbo].[Albums] ([AlbumID], [AlbumName], [ReleaseYear], [Quantity], [Status]) VALUES (2, N'asdas', 1999, 3, 1)
INSERT [dbo].[Albums] ([AlbumID], [AlbumName], [ReleaseYear], [Quantity], [Status]) VALUES (3, N'asd', 2008, 5, 1)
USE [master]
GO
